html,
body {
    height: 100%;
}

.page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content-area {
    flex: 1;
    background-image: url(../IMG/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 15px;
}

.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jumbotron-fluid {

    margin-bottom: 0;
    background-color: rgb(253, 171, 226);
    padding-top: 30px;
    padding-bottom: 30px;
}

input[type="date"] {
    padding: 0;
    border: 0;
    background: none;
}

h1 {
    font-family: 'Chilanka', cursive;
    color: white;
    text-shadow: 3px 3px 7px rgb(187, 122, 250);
}
