h1,
h2,
h3,
h4,
.nav .nav-link {
    font-family: 'Comfortaa', cursive;
    color: #b878b5;

}

h1 {
    letter-spacing: 10px;
}

.nav .nav-link {
    font-size: 1.5em;
    padding: 0;
}

a:hover {
    color: #6e7b84 !important;
}

.btn-primary {
    background-color: #b878b5;
    border-color: #b878b5;
    margin-top: 10px;
    margin-bottom: 10px;
}

i {
    font-size: 2em;
    color: #b878b5;
}

article > a {
    color: #b878b5;
}

.text-xs-center {
    text-align: center !important;
}

@media (min-width: 768px) {
    .text-md-left {
        text-align: left !important;
    }
}


